@charset "utf-8";

/* 
  CSS Styles for Snake-Game
   
   Author: Aiden Eyre
   Date:   27 September 2020
   
   Filename: styles.css 
*/

html,
body {
  width: 99%;
  height: 100%;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #545454;
}

.GameWindow {
  display: block;
  background-color: #77cc92;
  border: 2px solid #342a21;
  border-radius: 10px;
}

.buttons {
  display: none;
}


/* Styles for Desktop */

.buttons {
  background-color: #545454;
  margin: 3% 2%;
}

.buttons button {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #71816d;
  font-size: 2em;
  font-weight: 800;
  color: #333;
  box-shadow: -5px 5px #36363654, -4px 4px #36363648, -3px 3px #3636364d;
  border: 1px solid #36363679;
  border-radius: 15px;
}

.buttonUp,
.buttonDown {
  clear: both;
  display: block;
  width: 45%;
  margin: 0 auto;
  padding: 7%;
}

.buttonLeft,
.buttonRight {
  padding: 9%;
  width: 45%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.buttonLeft {
  display: block;
  float: left;
}

.buttonRight {
  display: block;
  float: right;
}

.buttons button:hover {
  background-color: #71816d;
  outline: none;
}

.buttons button:active {
  background-color: #71816d;
  transform: translateY(4px) translateX(-4px);
  box-shadow: none;
  border: none;
  outline: none;
}

#scoreInfo {
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
}

#Score h1,
#highScore h1 {
  display: block;
  color: #342a21cb;
}

#Score h1 {
  display: inline;
}

#highScore h1 {
  display: inline;
}

/* Switch Device Button */

#switchDevice {
  display: block;
  float: left;
  width: 20%;
  transform: translateY(-100%);
  border: none;
  background-color: #71816d;
  color: #333;

  box-shadow: -5px 5px #36363654, -4px 4px #36363648, -3px 3px #3636364d;
  border: 1px solid #36363679;
  border-radius: 15px;
  margin-left: 2%;
}
