@charset "utf-8";
/* 
  CSS Styles for Snake-Game
   
   Author: Aiden Eyre
   Date:   27 September 2020
   
   Filename: styles.css 
*/

html,
body {
  width: 99%;
  height: 100%;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #4e4e4e79;
}
.GameWindow {
  display: block;
  background-color: #B5D81A;
}

.buttons {
  display: none;
}



/* Styles to handle mobile */

@media only screen and (max-device-width: 768px) {
  .buttons {
    display: block;
    background-color: #4e4e4e79;
    margin: 3%;
  }

  .buttons button {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #2F4F4F;
    /* color: white; */
    font-size: 2em;
    padding: 9%;
    font-weight: 800;
    /* border: 1px solid black; */
    color: #333;
    box-shadow: -3px 3px #36363679, -2px 2px #36363679, -1px 1px #36363679;
    border: 1px solid #36363679;
  }

  .buttonUp {
  }

  .buttonUp,
  .buttonDown {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 1% 1% 2% 1%;
  }

  .buttonLeft,
  .buttonRight {
    width: 48%;
    margin: 1% 0 2% 1%;
  }

  .buttonLeft {
    display: block;
    float: left;
    margin-right: auto;
  }

  .buttonRight {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons button:hover {background-color: #4e4e4ed5}

  .buttons button:active {
    background-color: #4e4e4ed5;
    transform: translateY(4px);
    box-shadow: none;
    border: none;
  }

  #scoreInfo {
    position: absolute;
    margin-left: 5%;
  }

  #Score h1,
  #highScore h1 {
    display: block;
    color: rgba(0, 0, 0, 0.603);
  }
}

/* Styles for Desktop */

#Score h1 {
  display: inline;
}

#highScore h1 {
  display: inline;
}
