@charset "utf-8";

html,
body {
  width: 99%;
  height: 100%;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
.GameWindow {
  display: block;
}

.buttons {
  display: none;
}

@media only screen and (max-device-width: 768px) {
  .buttons {
    display: block;
  }

  .buttonUp,
  .buttonDown,
  .buttonLeft,
  .buttonRight {
    padding: 15%;
    height: 15%;
  }

  .buttonUp {
    margin-top: 1%;
  }

  .buttonUp,
  .buttonDown {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .buttonLeft,
  .buttonRight {
    width: 50%;
  }

  .buttonLeft {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }

  .buttonRight {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
  }
}
